h1, small, p.lead{
	padding-left: 25px;
}

p {
	padding-left: 30px;
	padding-right: 30px;
}

h1 {
	padding-top: 10px;
}

img {
	max-height: 100px;
	max-width: auto;
}

.logo {
	padding-right: 25px;
	padding-left: 25px;
	margin-bottom: 25px;
}

#profPic {
	border-radius: 100%;
	padding-left: 0px;
	max-height: 200px;
	max-width: auto;
}

.display-4 {
	font-size: 45px;
}

.figure {
	padding-left: 10px;
	padding-right: 10px;
}

.jumbotron {
	width: 100vw;
}

.title {
	padding-bottom: 10px;
}

#javascript {
	padding-left: 18px;
	padding-right: 10px;
}